<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1><br>
                <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat enim dicta provident deleniti asperiores, laborum est, assumenda perferendis fugit ullam alias harum accusamus odit laudantium deserunt ipsum nesciunt? Quia!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1><br>
                <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat enim dicta provident deleniti asperiores, laborum est, assumenda perferendis fugit ullam alias harum accusamus odit laudantium deserunt ipsum nesciunt? Quia!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1><br>
                <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat enim dicta provident deleniti asperiores, laborum est, assumenda perferendis fugit ullam alias harum accusamus odit laudantium deserunt ipsum nesciunt? Quia!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1><br>
                <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat enim dicta provident deleniti asperiores, laborum est, assumenda perferendis fugit ullam alias harum accusamus odit laudantium deserunt ipsum nesciunt? Quia!</p>
        </ul>
    </div>
</div>