<div class="row">
    <h1>Skills</h1>
    <div class="col-sm-4 col-md- col-lg-">
        <circle-progress
            [title]="'HTML'"
            [imageSrc]="'../assets/foto-de-perfil.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [percent]="87"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md- col-lg-">
        <circle-progress
            [title]="'HTML'"
            [showUnits]="false"
            [percent]="87"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md- col-lg-">
        <circle-progress
            [title]="'HTML'"
            [showUnits]="false"
            [percent]="87"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md- col-lg-">
        <circle-progress
            [title]="'HTML'"
            [showUnits]="false"
            [percent]="87"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md- col-lg-">
        <circle-progress
            [title]="'HTML'"
            [showUnits]="false"
            [percent]="87"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>